body {
    --background: #18355E;
}

ion-toolbar{
    --background: #18355E;
    --color: #ffffff;
}

ion-content.fondo {
    --background: #18355E;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
}

ion-card {
    width: 100%;
    max-width: 570px;
    max-height: 650px;
    padding: 10px 15px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    background: #ffffff;
    overflow-y: auto;
}

ion-item {
    margin-bottom: 8px;
}

ion-label {
    color: #18355E;
    font-size: 22px;
}

ion-button {
    margin-top: 10px;
    --background: #18355E;
    --color: #ffffff;
    --border-radius: 8px;
}

ion-button {
    --background: #18355E;
    --color: #ffffff;
    --border-radius: 8px;
}

ion-card-content {
    padding: 0;
}

ion-item.custom-spacing ion-label {
  margin-bottom: 7px;
}

ion-item.custom-spacing ion-input {
  margin-top: 7px;
}

.centered-datetime {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
