<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <img src="assets/img/IMP_Logotipoa.png" alt="Logo" class="logo" />
    <ion-button expand="block" class="hitzordu-button" (click)="onHitzorduClick()">Erreserbatu hitzordua</ion-button>
    <ion-button expand="block" class="zerbitzu-button" (click)="onZerbitzuClick()">Zerbitzuak</ion-button>
  </div>
</ion-content>