<ion-header>
  <ion-toolbar>
    <ion-title>Zerbitzuak</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="center-grid">
    <ion-row justify-content-center>
      <ion-col size="auto" *ngFor="let item of zerbitzuak">
        <ion-card class="custom-card">
          <img [src]="item.irudia" alt="{{ item.izena }}" />
          <ion-card-content class="ion-text-center">
            <h3>{{ item.izena }}</h3>
            <p>{{ item.prezioa | currency:'EUR':'symbol' }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-footer>
    <ion-toolbar>
      <ion-button expand="full" (click)="goBack()">Volver al Menú</ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-content>
