<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Zerbitzuak</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size="auto" *ngFor="let item of serviciosDisponibles">
        <ion-card class="custom-card">
          <ion-card-content class="ion-text-center">
            <h3>{{ item.izena }}</h3>
            <p>{{ item.kanpokoPrezioa | currency:'EUR':'symbol' }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>
