#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  padding: 20px;
}

.logo {
  width: 250px;
  margin-bottom: 60px;
}

.sartu-button {
  width: 150px;
  font-size: 14px;
  margin-bottom: 30px;
  --background: #18355E !important;
  --color: #ffffff;
}
